<div id="contenedor">
  <div class="imagen_logo">

    <%= link_to image_tag("computadora1.png", :border=>0)%>
    <%= link_to image_tag("computadora2.png", :border=>0)%>
    <%= link_to image_tag("computadora3.png", :border=>0)%>
  </div>
  <div class="clear"></div>
</div>
