<div id="contenedor">
  <div class="imagen_logo">

    <%= link_to image_tag("tablet1.png", :border=>0)%>
    <%= link_to image_tag("tablet2.png", :border=>0)%>
    <%= link_to image_tag("tablet3.png", :border=>0)%>
  </div>
  <div class="clear"></div>
</div>
